body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  transition: background 0.3s, color 0.3s;
}
body.dark {
  background-color: #222;
  color: white;
}
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #c9c319;
  color: rgb(62, 62, 56);
  transition: background 0.3s;
}
button:hover {
  background-color: #a9a30d;
  border: 1px solid #dee511;
}